*{
    font-family: 'Josefin Sans', sans-serif;
}
/* header */
body{
    margin-top: 120px;
}
/* header */
body.hidden-scrolling{
    overflow-y: hidden;
}
.container-header{
    max-width: 1170px;
    margin: auto;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header-top{
    position: absolute;
    /* background: #ED7D31; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 15px;
    box-sizing: border-box;

}
.header-main{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
    background: #ed7c31b3;


}
.header-top .logo{
    padding: 0 15px;
}
.header-top .logo img{
    width: 200px;
    cursor: pointer;
}
.header-top .nav-menu{
    padding: 0 15px;
}
.header-top .menu > .menu-item{
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.header-top .menu > .menu-item > a{
    display: block;
    margin-left: 15px 0;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all .3s ease;
    text-decoration: none;
}
.header-top .menu > .menu-item-active > a::after{
    content: '';
    background: #fff;
    display: block;
    width: auto;
    height: 1px;
}
.header-top .menu > .menu-item:hover > a{
    color: #000;
}
.header-top .open-nav-menu{
    height: 34px;
    width: 40px;
    margin-right: 15px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-top .open-nav-menu span{
    display: block;
    height: 3px;
    width: 24px;
    background: #fff;
    position: relative;
}
.header-top .open-nav-menu span:before,
.header-top .open-nav-menu span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
}
.header-top .open-nav-menu span:before{
    top: -7px;
}
.header-top .open-nav-menu span:after{
    top: 7px;
}
.header-top .close-nav-menu{
    height: 40px;
    width:  40px;
    background: #FFF;
    margin:0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.header-top .close-nav-menu img{
    width:  16px;
}
.header-top .menu-overlay{
    position: fixed;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}
.header-top .menu-overlay.active{
    visibility: visible;
    opacity: 1;
}
/* responsive header-top */
@media(max-width:991px){
    .header-top{
        padding: 5px;
    }
    .header-top .logo img{
        width: 150px;
    }
    .header-top .nav-menu{
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #222;
        z-index: 200;
        padding: 15px 0;
        transition: all 0.5s ease;
    }
    .header-top .nav-menu.open{
        visibility: visible;
        right: 0px;
    }
    .header-top .menu > .menu-item{
        display: block;
        margin: 0;
    }
    .header-top .menu > .menu-item > a{
        padding: 20px 15px;
        border-bottom: 1px solid #333;
    }
    .header-top .menu > .menu-item:first-child > a{
        border-top: 1px solid #333;
    }
    .header-top .close-nav-menu,
    .header-top .open-nav-menu{
        display: flex;
    }
}



.form-container{
    max-width: 300px;
    width: 100%;
    background: #616162;
    padding: 1.8em 3em;
    margin: 100px auto 40px;
    border-radius: 5px;
} 
.form-container .title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: #fff;
}
.form-container form .user-details{
    flex-wrap: wrap;

}
form .user-details .input-box{
    margin: 10px 0 12px 0;
}
.user-details .input-box input{
    height: 30px;
    width: 300px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
}
.input-box textarea{
    font-size: 18px;
    font-weight: bold;
} 
textarea{
    border-radius: 3px;
    outline: none;
}
.input-box span{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.button a{
    font-weight: bold;
}
form .button input{
    min-width: 100%;
    height: 35px;
    outline: none;
    color: #fff;
    background: rgba(252, 74, 9, 0.905);
    font-size: 18px;
    border: 1px solid #616162;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}
form .button a{
    display: flex;
    width: 100%;
    text-decoration: none;
    height: 35px;
    outline: none;
    background: #fff;
    color: darkorange;
    font-size: 18px;
    border: 1px solid #616162;
    border-radius: 4px;
    justify-content: center;
    line-height: 35px;
    
}
form .button input:hover{
    background: rgba(191, 65, 20, 0.905);
} 
@media (max-width:584px){
    .form-container{
        width: auto;

        padding: 1.5em 2em;
        margin: 100px auto 30px;
    }
}

/*footer*/
.footer{
    width: 100%;
    background: #626161;
}
.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 25px 0;
}
.footer .group-1 .box div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer .group-1 .box div img{
    width: 250px;
} 
.footer .group-1 .box h2{
    color: #fff;
    font-size: 20px;
}
.footer .group-1 .box p{
    color: #efefef;
    font-size: 18px;
}
.footer .group-2{
    background: #ED7D31;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
}
.footer .group-2 small{
    font-size: 18px;
}
@media screen and (max-width:800px){
    .footer .group-1{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 25px 0;
    }
}