*{
    font-family: 'Josefin Sans', sans-serif;
}
body.hidden-scrolling{
    overflow-y: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 15px;
	box-sizing: border-box;

}
.header-main{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
    background: #ed7c31b3;


}
.header .logo{
    padding: 0 15px;
}
.header .logo img{
    width: 200px;
    cursor: pointer;
}
.header .nav-menu{
    padding: 0 15px;
}
.header .menu > .menu-item{
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.header .menu > .menu-item > a{
    display: block;
    margin-left: 15px 0;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all .3s ease;
}
.header .menu > .menu-item-active > a::after{
    content: '';
    background: #FFF;
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
}
.header .menu > .menu-item:hover > a{
    color: #d5d5d5;
}
.header .menu > .menu-item > a .plus{
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
	pointer-events: none;

}
.header .menu > .menu-item > a .plus::before,
.header .menu > .menu-item > a .plus::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background: #fff;
    height: 2px;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: all .3s ease;
}
.header .menu > .menu-item:hover > a .plus::before,
.header .menu > .menu-item:hover > a .plus::after{
    background-color: #ED7D31;
}
.header .menu > .menu-item > a .plus::after{
    transform: translate(-50%,-50%) rotate(-90deg);

}   
/* .header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
    color: #000;
} */
.header .menu > .menu-item > .sub-menu{
    box-shadow:  0 0 10px rgba(0,0,0,.2);
    width: 280px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    padding: 10px 0;
    border-top: 3px solid #ED7D31;
    transform: translateY(25px);
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
@media (min-width:992px) {
    .header .menu > .menu-item-has-children:hover > .sub-menu{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    }
    .header .menu > .menu-item-has-children:hover > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
    }

}
.header .menu > .menu-item > .sub-menu > .menu-item{
    display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    transition: all .3s ease;
}
.header .menu > .menu-item > .sub-menu > .menu-item:hover > a{
    color: #ED7D31;
}
.header .open-nav-menu{
    height: 34px;
    width: 40px;
    margin-right: 15px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .open-nav-menu span{
    display: block;
    height: 3px;
    width: 24px;
    background: #fff;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
}
.header .open-nav-menu span:before{
    top: -7px;
}
.header .open-nav-menu span:after{
    top: 7px;
}
.header .close-nav-menu{
    height: 40px;
    width:  40px;
    background: #FFF;
    margin:0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.header .close-nav-menu img{
    width:  16px;
}
.header .menu-overlay{
    position: fixed;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}
.header .menu-overlay.active{
    visibility: visible;
    opacity: 1;
}
/* responsive header */
@media(max-width:991px){
    .header{
        padding: 5px;
    }
    .header .logo img{
        width: 150px;
    }
    .header .nav-menu{
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #222;
        z-index: 200;
        padding: 15px 0;
        transition: all 0.5s ease;
    }
    .header .nav-menu.open{
        visibility: visible;
        right: 0px;
    }
    .header .menu > .menu-item{
        display: block;
        margin: 0;
    }
    .header .menu > .menu-item-has-children > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu > .menu-item > a{
        padding: 20px 15px;
        border-bottom: 1px solid #333;
    }
    .header .menu > .menu-item:first-child > a{
        border-top: 1px solid #333;
    }
    /* .header .menu > .menu-item:hover > a .plus::before,
    .header .menu > .menu-item:hover > a .plus::after{
        background: #222;
    } */
    .header .menu > .menu-item-has-children.active > a .plus::after{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    .header .menu > .menu-item > .sub-menu{
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background: transparent ;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu > .menu-item > .sub-menu > .menu-item > a{
        padding: 20px;
        color: #fff;
        border-bottom: 1px solid #333;
    }
    .header .close-nav-menu,
    .header .open-nav-menu{
        display: flex;
    }
    
}
/*FORM*/
.form__registro{
    background: #626161;
    margin: 8em auto 5em auto;
    width: 90%;
    max-width: 400px;
    padding: .5em 3em;
    border-radius: 5px;
}
.form__title{
    font-size: 2rem;
    margin: 5px;
    margin-top: 1em;
    color: #fff;
}
.form__container{
    margin-top: 1em;
    display: grid;
    gap: 1em;
}
.form__group{
    position: relative;
}
.form__input{
    width: 97.333333%;
    background: #FFF;
    font-size: 20px;
    border: none;
    padding: .6em .3em;
    outline: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}
.form__input2{
    width: 100%;
    background: #FFF;
    font-size: 20px;
    padding: .6em .3em;
    outline: none;
    border-radius: 3px;
    color: #616262;
    font-weight: bold;
    border-radius: 8px;

}
.form__options{
    background: #FFF; 
}
::placeholder{
    color: #616262;
}
.form__submit{
    background: #ED7D31;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.form__submit:disabled{
    background: rgba(237, 125, 49, 0.70);
    color: rgba(256, 256, 256, 0.70);
}
.form__registro a, .form__registro p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
@media (max-width:500px) {
    .form__registro{
        width: auto;
        padding: .5em 1em;
        border-radius: 4px;
        margin: 5em auto 2em auto;

    }
    .form__title{
        font-size: 1.8rem;
        margin-top: 0;
        padding-top:10px;
        width: 75%;
    }
    .form__submit{
        background: #ED7D31;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        padding: 10px;
        width: auto;
    }
    .form__input{
        width: 98.333333%;
    }
    .form__container{
        width: 100%;
    }
}
.footer{
    width: 100%;
    line-height: 1.15;
}
.overlay-footer-container{
    background: #000 url(../img/Inspiración.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    color: #FFF;
    position: relative;
    display: flex;
}
.overlay_color{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    position: absolute;
}
.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 10px 0;
}
.footer .group-1 .box div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .group-1 .box div img{
    width: 250px;
} 
.footer .group-1 .box h2{
    margin: 16.6px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.footer .group-1 .box p{
    color: #fff;
    font-size: 18px;
    margin: 18px 0;

}
.box{
    z-index: 1;
}
.footer .group-2{
    background: #ED7D31;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
}
.footer .group-2 small{
    font-size: 18px;
}
@media screen and (max-width:800px){
    .footer{
        position: relative;
    }
    .footer .group-1{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 25px 0;
    }
}